* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: #fffed1;
    margin-bottom: 50px;
    background: rgb(247,178,151);
    background: linear-gradient(0deg, rgba(247,178,151,1) 10%, rgba(238,244,112,1) 30%, rgba(249,255,114,1) 70%, rgba(247,178,151,1) 90%);

}


/*---------Header----------*/

.header {
    background-color: #F7B297;
    box-shadow: 0 2px 5px rgba(161, 108, 8, 0.4);
    padding: 1%;
    display: grid;
    grid-template-columns:  auto 30%;
}

/* .nav__item--invisible{
    display: none;
} */

.logolurba{
    border-radius: 3rem;
}

/*---------Nav----------*/

.nav{
    width: 100%;
    display: grid;
    justify-content: center;
}

.nav__list {
    list-style: none;
}

.nav__item{
    margin: 3%;
    display: inline-block;
    /* position: relative;
    left: 70%; */
}

.nav__enlace{
    color: #fffed1;
    text-transform: uppercase;
    font-size:large;
}

/*--------Grids---------*/
/*---INICIO----*/

.grid-inicio{
    margin:auto;
    width: 90%;
    display: grid;
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-columns: 1fr ;
    grid-template-rows: 3fr auto;

}

.img-inicio{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    min-width: none;
    min-height: none;
    border-radius: 3rem;
    border: 2px solid;
    border-color: #F7B297;
    animation: img-appear 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.10s;
    /* animation: img-inicio 1s cubic-bezier(0.050, 0.250, 0.450, 0.660) both;*/
}

/*--------ANIMACIONES---------*/

@keyframes img-appear {
    0% {
        transform: scale(0);
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        transform: scale(1);
    }
  }

  @keyframes shadow-beat {
    0% {
        box-shadow: 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82;
        transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: -1px 1px #FAAD82, -2px 2px #FAAD82, -3px 3px #FAAD82, -4px 4px #FAAD82, -5px 5px #FAAD82, -6px 6px #FAAD82, -7px 7px #FAAD82, -8px 8px #FAAD82;
        transform: translateX(8px) translateY(-8px);
    }
  }
  

 /* @keyframes img-inicio {
    0% {
        transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
        transform: translateX(100px);
    }

  } */

.main-inicio__images{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
}

.message{
    display: grid;
    grid-template-columns: 80% auto;
    padding-bottom: 5%;
    scroll-padding-top: 5%;
}

.div-message-inicio{
    display: grid;
    justify-content: end;
}

.message-inicio{
    text-align: center;
    width: 100%;
    height: 30%;
    color:rgba(95, 63, 4, 0.925);
    background-color:#f3f3f3;
    border-radius: 1rem;
    border: 1px solid;
    border-color: #F7B297;
}

.dibujo-chili{
    width: 100%;
    
}

.borde-img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3rem;
    border: 1px solid;
    border-color: rgba(161, 108, 8, 0.4);
}


/*---Piezas---*/

.grid-piezas{
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 3rem;
    grid-template-rows: auto auto auto;
}

.main__img-piezas{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto auto;
    justify-content: center;
    
}

/*---Muestras---*/

.grid-muestras{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    
}

.main__img-muestras{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto auto;
    justify-self: center;
}
.message-muestras{
    text-align: center;
}
/*------*/

.img-piezas{
    border-radius: 2rem;
    border: 2px solid;
    justify-self: center;
    animation: shadow-beat 1.3s ease-in infinite alternate-reverse both;
}

.muestras{
    display: grid;
    grid-template-columns: 2fr 50% auto;
}

.message-piezas{
    align-items: center;
    border-radius: 3rem;
    width: 36%;
    display: grid;
    justify-self: end;
    color: #612f00;
    background-color: #fff7e7;
}

.link-muestras{
    display: grid;
    justify-self: start;
}


/*---Sobre Mi---*/

.grid-sobremi{
    margin:auto;
    display: grid;
    row-gap: 3rem;
    grid-template-rows: repeat 5fr 20%;
    justify-content: center;
    background: rgb(180,123,0);
    background: radial-gradient(circle, rgba(180,123,0,0.5466561624649859) 23%, rgba(234,188,59,0.5186449579831933) 60%, rgba(234,188,59,0.16010154061624648) 82%, rgba(234,188,59,0) 100%);
}
.iframe{
    row-gap: 2rem;
    display: grid;
    justify-content: center;
}

.img-sobremi__lur{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid;
    display:grid;
    justify-content: end;
}

.lur-sobremi{
    padding-left: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.lur-descripcion{
    color:#6d4002;
    font-size: large;
    display: grid;
    align-items: center;
}

.chili-sobremi{
    padding-left: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.chili-descripcion{
    color:#6d4002;
    font-size: large;
    display: grid;
    align-items: center;
}

.img-sobremi__chili{
    border: 1px solid;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.porque-elegirnos{
    color:#6d4002;
    font-size: large;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgb(180,123,0);
    background: linear-gradient(0deg, rgba(180,123,0,0.49343487394957986) 32%, rgba(234,188,59,0.6699054621848739) 67%, rgba(234,188,59,0.16010154061624648) 96%);
}


/*---Muestras---*/

/*---Contacto---*/

.grid-contacto{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    row-gap: 3rem;
}

.formulario {
    color: #663500;
    font-weight: bolder;
    /* display: grid;
    justify-content: center; */
}

.item-formulario{
    width: 100%;
}

.fuentedescripcion {
    color:#6d4002;
}

.bloquesecundario {
    border: 2px solid;
    border-color: #f1935c;
    background-color: #FAAD82;
}


/*---------Main---------*/

.main{
    width: 100%;
}

.main__tittle{
    text-align: center;
    margin:3%;
}

.links{
    border-radius: 1rem;
    border: 2px solid;
    color: #C7A23E;
    background-color: #E3FF8C;
    font-weight: bolder;
}

.center-subtittle{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #6d4002;
}

.imagen__ajuste{
    border-radius: 3rem;
}





/*------Footer------*/

.footer{
    width: 100%;
    background-color: #F7B297;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logomarti {
    border-radius: 2rem;
}


.imagen__ajuste {
    border-radius: 3rem;
}


/*---Media Queries---*/

@media screen and (max-width: 700px){
    .header{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .logolurba{
        border-radius: 3rem;
        justify-self: center;
    }
    .message{
        justify-content: center;
    }
    .logomarti{
        width: 40px;
    }

    .muestras{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main__img-piezas{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        animation: none;
    }

    
    .formulario{
        width: 80vw;
    }

    .video{
        width: 100%;
        height: 100%;
    }

    .divmobile{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 700px){
.img-piezas{
    height: 80%;
    width: 80%;
    border: 2px solid;
    border-color: #FAAD82;
    justify-self: center;
}

}


/*
@media all and (max-width: 767.98px){
    header.nav{
        display:"none";
    }

    .header__open{
    text-decoration: none;
    }

    .header__icono{
    display: block;
    font-size: 32px;
    color:#6d4002;
    }

    #sidebar .nav__list{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    #sidebar:target{
        transform: translateX(0);
    }

    #sidebar{
        background-color: rgba(255, 215, 106, 0.519);
        color:#bba004;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80%;
        max-width: 300px;
        padding: 2rem;
        z-index: 1000;

        transform: translateX(-100%);
        transition: transform 0,5s;
    }
} */

/* @-webkit-keyframes img-inicio {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  } */
 
  
  