.body .background-gradient {
  margin-bottom: 50px;
  background: linear-gradient(0deg, #f7b297 10%, #eef470 30%, #f9ff72 70%, #f7b297 90%); }

.shadow-beat {
  animation: shadow-beat 1.3s ease-in infinite alternate-reverse; }

.img-appear {
  animation: img-appear 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s; }

@keyframes img-appear {
  0% {
    transform: scale(0);
    transform: scale(0); }
  100% {
    transform: scale(1);
    transform: scale(1); } }

@keyframes shadow-beat {
  0% {
    box-shadow: 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82, 0 0 #FAAD82;
    transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    box-shadow: -1px 1px #FAAD82, -2px 2px #FAAD82, -3px 3px #FAAD82, -4px 4px #FAAD82, -5px 5px #FAAD82, -6px 6px #FAAD82, -7px 7px #FAAD82, -8px 8px #FAAD82;
    transform: translateX(8px) translateY(-8px); } }

.img-ajuste {
  border-radius: 3rem;
  padding: 1rem; }

@media screen and (max-width: 700px) {
  .iframe {
    width: 70%;
    height: 100%; } }

@media screen and (max-width: 500px) {
  .img-sm {
    border: 2px solid;
    border-color: #FAAD82;
    animation: none; }
  .iframe {
    width: 70%;
    height: 100%; } }
