$rosita:rgba(240, 217, 202, 0.842);
$width: 100%;
$height: 100%;

@mixin backgroundColor(){
    background: linear-gradient(0deg, rgba(247,178,151,1) 40%, rgba(245, 211, 161, 0.705) 70%, rgba(247,178,151,1) 90%);
    margin-bottom: 50px;
    text-align: center;
}

@mixin box(){
    width: $width/2;
    border-radius: 20px;
    background-color: $rosita;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(126, 74, 27, 0.533)(0, 0, 0, 0.2);
}
   

// @mixin contenidoResponsive { --no tiene sentido esto, solo queria seguir agregando ejemplos--
//     width: $width;
//     text-align: center;    
// }

.background-gradient{
    @include backgroundColor();

    // .contenidoCentral{
    //     @include contenidoResponsive();
    // }

    .img-ajuste{
        border-radius: 100%;
        padding: 1rem;
    }

    .boxShadow{
        @include box();
    }

    .footer{
        @include backgroundColor();
    }

}