    .background-gradient {
    margin-bottom: 50px;
    background: linear-gradient(0deg, rgba(247,178,151,1) 10%, rgba(238,244,112,1) 30%, rgba(249,255,114,1) 70%, rgba(247,178,151,1) 90%);
        .img-ajuste{
            border-radius: 3rem;
            padding: 1rem;
    }
    .footer{
        background-color: $primary;
    }
}