@media screen and (max-width: 700px){

    .iframe{
        width: 70%;
        height: 100%;
    }
}

@media screen and (max-width: 500px){
    .img-sm{
        border: 2px solid;
        border-color: #FAAD82;
        animation: none;
    }
    .iframe{
        width: 70%;
        height: 100%;
    }

}